<div style="width: 390px; height: 845px; position: relative; overflow: hidden">
  <div style="left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 390px; height: 845px; position: relative; background: white; overflow: hidden">
      <div style="width: 390px; height: 845px; left: 0px; top: 0px; position: absolute">
        <div style="width: 345px; height: 133px; left: 23px; top: 19px; position: absolute; overflow: hidden">
          <div style="width: 345px; height: 96px; left: 0px; top: 37px; position: absolute; background: #0D50CD; border-radius: 5px"></div>
          <img style="width: 205px; height: 205px; left: 136px; top: 7px; position: absolute" src="https://placehold.co/205x205" />
        </div>
      </div>
    </div>
  </div>
  <div style="width: 345px; height: 33px; left: 23px; top: 730px; position: absolute; border-radius: 12px">
    <div style="width: 345px; height: 42px; left: 0px; top: -4px; position: absolute; background: #0D50CD; border-radius: 10px"></div>
    <div style="width: 250px; height: 24px; left: 47px; top: 5px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Continue</div>
  </div>
  <div style="width: 187px; height: 44px; left: 41px; top: 77px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Assess Your Water</div>
  <div style="width: 144px; height: 44px; left: 41px; top: 103px; position: absolute; color: rgba(255, 255, 255, 0.70); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 16px; word-wrap: break-word">Test strips, photos, and location in one flow.</div>
  <div style="width: 345px; height: 169px; left: 23px; top: 167px; position: absolute; border-radius: 10px; border: 1px rgba(12.83, 80.45, 205.23, 0.20) solid"></div>
  <div style="width: 38px; height: 38px; left: 37px; top: 183px; position: absolute; background: rgba(12.83, 80.45, 205.23, 0.10); border-radius: 100px"></div>
  <div style="width: 20px; height: 16px; left: 46px; top: 194px; position: absolute; background: #0D50CD"></div>
  <div style="width: 187px; height: 44px; left: 84px; top: 180px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #020617; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Test Strip</div>
  <div style="width: 159px; height: 123px; left: 195px; top: 186px; position: absolute">
    <div style="width: 159px; height: 123px; left: 0px; top: 0px; position: absolute; background: rgba(12.83, 80.45, 205.23, 0.05); border-radius: 1.48px; border: 0.37px #0D50CD solid"></div>
    <div style="width: 43.43px; height: 43.43px; left: 58px; top: 23px; position: absolute">
      <div style="width: 31.85px; height: 37.49px; left: 5.79px; top: 3.04px; position: absolute; background: #0D50CD"></div>
    </div>
    <div style="width: 185px; height: 43px; left: -10px; top: 59px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #8B8B8B; font-size: 10px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Upload your picture here</div>
    <div style="width: 185px; height: 43px; left: -10px; top: 73px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #0D50CD; font-size: 10px; font-family: Inter; font-weight: 500; text-decoration: underline; line-height: 20px; word-wrap: break-word">Browse</div>
  </div>
  <div style="width: 133px; height: 43px; left: 37px; top: 252px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #8B8B8B; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Take a photo of your test strip to analyze key water contaminants.</div>
  <div style="width: 345px; height: 169px; left: 23px; top: 348px; position: absolute; border-radius: 10px; border: 1px rgba(12.83, 80.45, 205.23, 0.20) solid"></div>
  <div style="width: 38px; height: 38px; left: 37px; top: 364px; position: absolute; background: rgba(12.83, 80.45, 205.23, 0.10); border-radius: 100px"></div>
  <div style="width: 187px; height: 44px; left: 84px; top: 361px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #020617; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Water body</div>
  <div style="width: 24px; height: 24px; left: 44px; top: 371px; position: absolute; overflow: hidden">
    <div style="width: 20px; height: 21.01px; left: 2px; top: 2.02px; position: absolute; background: #0D50CD"></div>
  </div>
  <div style="width: 159px; height: 123px; left: 195px; top: 367px; position: absolute">
    <div style="width: 159px; height: 123px; left: 0px; top: 0px; position: absolute; background: rgba(12.83, 80.45, 205.23, 0.05); border-radius: 1.48px; border: 0.37px #0D50CD solid"></div>
    <div style="width: 43.43px; height: 43.43px; left: 58px; top: 23px; position: absolute">
      <div style="width: 31.85px; height: 37.49px; left: 5.79px; top: 3.04px; position: absolute; background: #0D50CD"></div>
    </div>
    <div style="width: 185px; height: 43px; left: -10px; top: 59px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #8B8B8B; font-size: 10px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Upload your pictures here</div>
    <div style="width: 185px; height: 43px; left: -10px; top: 73px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #0D50CD; font-size: 10px; font-family: Inter; font-weight: 500; text-decoration: underline; line-height: 20px; word-wrap: break-word">Browse</div>
  </div>
  <div style="width: 133px; height: 43px; left: 37px; top: 433px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #8B8B8B; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Upload clear pictures of the water body for a visual assessment.</div>
  <div style="width: 345px; height: 187px; left: 23px; top: 529px; position: absolute; border-radius: 10px; border: 1px rgba(12.83, 80.45, 205.23, 0.20) solid"></div>
  <div style="width: 38px; height: 38px; left: 37px; top: 544px; position: absolute; background: rgba(12.83, 80.45, 205.23, 0.10); border-radius: 100px"></div>
  <div style="width: 187px; height: 44px; left: 84px; top: 541px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #020617; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Location</div>
  <div style="width: 124px; height: 31px; left: 230px; top: 547px; position: absolute; border-radius: 5px; border: 1px rgba(12.83, 80.45, 205.23, 0.20) solid"></div>
  <div style="width: 16px; left: 242px; top: 554px; position: absolute; overflow: hidden; justify-content: center; align-items: flex-start; display: inline-flex">
    <div style="width: 16px; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 16px; height: 16px; background: #0D50CD"></div>
    </div>
  </div>
  <div style="width: 109px; height: 44px; left: 250px; top: 540px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #8B8B8B; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Add manually</div>
  <div style="width: 317px; height: 111px; left: 37px; top: 593px; position: absolute; background: #E5E3DF; overflow: hidden; border-radius: 5px">
    <div style="width: 317px; height: 110.52px; left: 0px; top: 0px; position: absolute">
      <div style="width: 317px; padding-bottom: 0.11px; left: 0px; top: 0.20px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <img style="width: 317px; height: 110px; position: relative" src="https://placehold.co/317x110" />
        <div style="width: 168px; padding-top: 50.44px; padding-bottom: 55.31px; padding-left: 55.65px; padding-right: 55.65px; left: 99.38px; top: 3.09px; position: absolute; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="width: 7.24px; height: 7.24px; position: relative; transform: rotate(180deg); transform-origin: top left">
            <div style="width: 7.24px; height: 0.45px; left: 0px; top: 0px; position: absolute">
              <div style="width: 98.39px; height: 98.39px; left: -45.58px; top: -45.58px; position: absolute; opacity: 0.10; background: #276EF1; border-radius: 49.20px"></div>
              <div style="width: 21.74px; height: 21.74px; left: -7.25px; top: -7.25px; position: absolute; opacity: 0.25; background: #276EF1; border-radius: 10.87px"></div>
            </div>
            <div style="width: 7.24px; height: 7.24px; left: 0px; top: 0px; position: absolute">
              <div style="width: 7.24px; padding: 2.71px; left: 0px; top: 0px; position: absolute; background: #0D50CD; box-shadow: 0px 1.8090219497680664px 7.236087799072266px rgba(0, 0, 0, 0.16); border-radius: 3.62px; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 1.81px; height: 1.81px; background: white; border-radius: 0.90px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 258.36px; height: 4.17px; left: 58.64px; top: 106.35px; position: absolute"></div>
      <div style="width: 19.64px; padding-left: 0.62px; padding-right: 0.62px; left: 1.49px; top: 102.78px; position: absolute; overflow: hidden; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="width: 18.41px; height: 7.74px; position: relative; overflow: hidden">
          <div style="width: 4.38px; height: 4.48px; left: 0.85px; top: 1.05px; position: absolute; background: #020617; outline: 0.40px #020617 solid; outline-offset: -0.20px"></div>
          <div style="width: 2.99px; height: 3.03px; left: 5.14px; top: 2.51px; position: absolute; background: #020617; outline: 0.40px #020617 solid; outline-offset: -0.20px"></div>
          <div style="width: 2.99px; height: 3.03px; left: 8.04px; top: 2.51px; position: absolute; background: #020617; outline: 0.40px #020617 solid; outline-offset: -0.20px"></div>
          <div style="width: 3.93px; height: 5.52px; left: 10.94px; top: 1.19px; position: absolute; background: #020617; outline: 0.40px #020617 solid; outline-offset: -0.20px"></div>
          <div style="width: 2.86px; height: 3.03px; left: 14.81px; top: 2.51px; position: absolute; background: #020617; outline: 0.40px #020617 solid; outline-offset: -0.20px"></div>
          <div style="width: 16.36px; height: 5.26px; left: 1.05px; top: 1.25px; position: absolute; background: white"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-style="Line" style="width: 24px; height: 24px; left: 44px; top: 551px; position: absolute; overflow: hidden">
    <div style="width: 18px; height: 20px; left: 3px; top: 2px; position: absolute; background: #0D50CD"></div>
    <div style="width: 4px; height: 4px; left: 10px; top: 9px; position: absolute; background: #0D50CD"></div>
  </div>
  <div style="width: 390px; height: 62px; padding-left: 20px; padding-right: 20px; padding-top: 14px; padding-bottom: 14px; left: 0px; top: 783px; position: absolute; background: white; outline: 1px rgba(12.83, 80.45, 205.23, 0.10) solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="align-self: stretch; justify-content: space-between; align-items: flex-end; display: inline-flex">
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
          <div style="width: 20px; height: 22px; left: 2px; top: 1px; position: absolute; background: #020617"></div>
        </div>
        <div style="align-self: stretch; text-align: center; color: #020617; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18.60px; word-wrap: break-word">Home</div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
          <div style="width: 20px; height: 21.01px; left: 2px; top: 2.02px; position: absolute; background: #0D50CD"></div>
        </div>
        <div style="align-self: stretch; text-align: center; color: #0D50CD; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18.60px; word-wrap: break-word">Analysis</div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
        <div style="width: 25px; height: 25px; position: relative; overflow: hidden">
          <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute"></div>
          <div style="width: 18.75px; height: 18.75px; left: 3.12px; top: 3.12px; position: absolute; background: #020617"></div>
          <div style="width: 10.42px; height: 10.42px; left: 7.29px; top: 7.29px; position: absolute; background: #020617"></div>
        </div>
        <div style="align-self: stretch; text-align: center; color: #020617; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18.60px; word-wrap: break-word">Results</div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
          <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; background: #020617"></div>
        </div>
        <div style="align-self: stretch; text-align: center; color: #020617; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18.60px; word-wrap: break-word">Statistics</div>
      </div>
    </div>
  </div>
</div>